In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Fake_Real_Data.csv')

In [5]:
df.head()

                                                Text label
0   Top Trump Surrogate BRUTALLY Stabs Him In The...  Fake
1  U.S. conservative leader optimistic of common ...  Real
2  Trump proposes U.S. tax overhaul, stirs concer...  Real
3   Court Forces Ohio To Allow Millions Of Illega...  Fake
4  Democrats say Trump agrees to work on immigrat...  Real

In [7]:
df['label'].value_counts()

Fake    5000
Real    4900
Name: label, dtype: int64

In [9]:
df['label_num'] = df['label'].map({'Fake':1,'Real':0})

In [11]:
df.head()

                                                Text label  label_num
0   Top Trump Surrogate BRUTALLY Stabs Him In The...  Fake          1
1  U.S. conservative leader optimistic of common ...  Real          0
2  Trump proposes U.S. tax overhaul, stirs concer...  Real          0
3   Court Forces Ohio To Allow Millions Of Illega...  Fake          1
4  Democrats say Trump agrees to work on immigrat...  Real          0

In [13]:
import spacy

In [15]:
nlp = spacy.load('en_core_web_lg')

In [ ]:
df['vector'] = df['Text'].apply(lambda x: nlp(x).vector)